spring:
  application:
    name: user-service
  datasource:
    url: jdbc:mysql://${USER_DB_HOST:localhost}:${USER_DB_PORT:3306}/users
    username: ${USER_DB_USERNAME:root}
    password: ${USER_DB_PASSWORD:admin1234}
    driver-class-name: com.mysql.cj.jdbc.Driver
  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQLDialect
    show-sql: true

eureka:
  client:
    service-url:
      defaultZone: ${EUREKA_SERVER:http://localhost:8761/eureka}
  instance:
    prefer-ip-address: true

jwt:
  secret: ${JWT_SECRET}
  expiration: 360000

server:
  port: 8081
